<footer class="container-fluid">
  <div class="row">	
	    <div class="col-sm-4 text-center">
	        <!--Swedish-->
	        <h4 class="swedish">Kontakt</h4>
	            <p class="swedish">Linford Communication AB</br>
	                Linford Vending AB</br>
	                Radiatorvägen 15</br>
	                SE - 702 27 Örebro</br>
	                Sverige
	            </p>

	            	<!--English-->
	        <h4 class="english">Contact</h4>
	            <p class="english">Linford Communication AB</br>
	                Linford Vending AB</br>
	                Radiatorvägen 15</br>
	                SE - 702 27 Örebro</br>
	                Sweden
	            </p>
	    </div>
	    <div class ="col-sm-4 text-center">
	        <!--Swedish-->
	        <h4 class="swedish">Öppettider</h4>
	        	<p class="swedish">mån-fre: 08.00–17.00</br>
	            lunch: 12.00-13.00</br>
	            lör: stängt</br>
	            sön: stängt</p>

	            <!--English-->
	              <h4 class="english">Opening hours</h4>
	        	<p class="english">mon-fri: 08.00–17.00</br>
	            lunch: 12.00-13.00</br>
	            sat: closed</br>
	            sun: closed</p>
	    </div>
	    <div class ="footerlinks col-sm-4 text-center">
	        <h4 class="swedish">Sociala medier</h4>
	        <h4 class="english">Social media</h4>
	        <a href="https://www.facebook.com/linfordab" target="_blank">Facebook</a></br>
	        <a href="https://www.instagram.com/linfordab/" target="_blank">Instagram</a></br>
	        <a href="https://www.linkedin.com/company/linford-communication-ab/" target="_blank">LinkedIn</a>
	    </div>
	</div>
	<p class="text-center footer-text swedish">Skapad av Team Linford.</p>
	<p class="text-center footer-text english">Created by Team Linford.</p>
</footer>