{% extends "layout.njk" %}

{% set title = "Hem" %}

{% block content %}

<div>
    <h2 class="slideroverlay headtext">Välkommen</h2>
    <div class="slider">
        <div><img class="d-block w-100 slide" src="assets/startpage_1.jpg" alt="First slide"/></div>
        <div><img class="d-block w-100 slide" src="assets/startpage_2.jpg" alt="Second slide"/></div>
        <div><img class="d-block w-100 slide" src="assets/startpage_3.jpg" alt="Third slide"/></div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12 startgridimg">
				<a href="workplace.html">	
					<img src="assets/startpage_grid1.jpg" class="img-responsive">
					<div class="startgridoverlay">
					<h3 class="startgridtext headtext">Workplace</h3>
					<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
					
				</div>
			</a>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12 startgridimg">
				<a href="media.html">
					<img src="assets/startpage_grid1.jpg" class="img-responsive">
					<div class="startgridoverlay">
					<h3 class="startgridtext headtext">Skärm</h3>
					<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
					
				</div>
				</a>
		</div>
	</div>
	<div class="row">
			<div class="col-md-6 startgridimg">
					   <img src="assets/startpage_grid1.jpg" class="img-responsive">
					   <div class="startgridoverlay">
						<h3 class="startgridtext headtext">Workflow</h3>
						<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
						<a href="#"></a>
					</div>
			</div>
			<div class="col-md-6 startgridimg">
					<img src="assets/startpage_grid2.jpg" class="img-responsive">
					<div class="startgridoverlay">
						<h3 class="startgridtext headtext">Support</h3>
						<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
						<a href="#"></a>
					</div>
			</div>
		</div>
    <div class="row">
        <div class="col-md-6 startgridimg">
           		<img src="assets/startpage_grid1.jpg" class="img-responsive">
           		<div class="startgridoverlay">
        			<h3 class="startgridtext headtext">Kostnad</h3>
        			<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
        			<a href="#"></a>
        		</div>
        </div>
        <div class="col-md-6 startgridimg">
            	<img src="assets/startpage_grid2.jpg" class="img-responsive">
            	<div class="startgridoverlay">
        			<h3 class="startgridtext headtext">Frihet</h3>
        			<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
        			<a href="#"></a>
        		</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 startgridimg">
            	<img src="assets/startpage_grid3.jpg" class="img-responsive">
            	<div class="startgridoverlay">
        			<h3 class="startgridtext headtext">Säkerhet</h3>
        			<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
        			<a href="#"></a>
        		</div>
        </div>
        <div class="col-md-6 startgridimg">
        		<img src="assets/startpage_grid4.jpg" class="img-responsive">
        		<div class="startgridoverlay">
        			<h3 class="startgridtext headtext">Enkelhet</h3>
        			<p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut erat venenatis, consectetur nulla et, cursus dui. Duis aliquam sed velit ut dictum. Ut sit amet nulla maximus, fringilla justo sit amet, porta risus.</p>
        			<a href="#"></a>
        		</div>
        </div>
    </div>
</div>
{% endblock %}