{% extends "layout.njk" %}
{% set title = "Kontakt" %}
{% set jumboText = "Kontakta oss om du undrar över något." %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-6">
            <p>Tveka inte att kontakta oss på linford om du undrar över något. Använd knappen nere till höger för att få direkt kontakt med oss.</p>
        </div>
        <div class="col-md-6">
            <iframe class="iframe-karta" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8157.575329684225!2d15.174993412133787!3d59.259569043971126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbdca5cb0501acb0!2sLinford+Communication+AB!5e0!3m2!1sen!2sse!4v1515505833465">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}