{% extends "layout.njk" %}
{% set title = "Kontakt" %}
{% set jumboText = "Kontakta oss om du undrar över något." %}

{% block content %}
<div class="content">
    <div class="form">
        <form id="contact-form" method="post" action="contact.php" role="form">
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Förnamn *</label>
                            <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Förnamn är obligatoriskt.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Efternamn *</label>
                            <input id="form_lastname" type="text" name="surname" class="form-control" required="required" data-error="Efternamn är obligatoriskt.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" required="required" data-error="Ange en giltig email.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_phone">Telefonnummer</label>
                            <input id="form_phone" type="tel" name="phone" class="form-control">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Meddelande *</label>
                            <textarea id="form_message" name="message" class="form-control" rows="4" required="required" data-error="Skriv ett meddelande"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="btn" value="Skicka meddelande">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> Fätlten är obligatoriska.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="karta">
        <div class="karta-iframe">
            <iframe class="iframe-karta" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8157.575329684225!2d15.174993412133787!3d59.259569043971126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbdca5cb0501acb0!2sLinford+Communication+AB!5e0!3m2!1sen!2sse!4v1515505833465">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}