{% extends "layout.njk" %}
{% set title = "Här är mediasidan" %}
{% set jumboText = "Här ska text placeras." %}
{% block content %}

<div class="parallax5"></div>

<div class="content1" id="content1">
    <h1 class="headtext">Remote Care Workplace</h1>
    </br>

    <h2>Frihetskänsla genom teknik</h2>
    </br>

    <p class="bread">
        Att kunna arbeta flexibelt, vart som helst, genom att alltid komma åt företagets alla filer, applikationer och dokument är
        ett arbetssätt som fler företag och organisationer strävar emot. (Tre auto-slides på första sidan: Att kunna arbeta
        flexibelt, vart som helst, att alltid komma åt företagets alla filer) Med Remote Care Workplace kan vi, genom ett
        fjärrskrivbord, förse din organisation med en helt skalbar tjänst oberoende av vart ni befinner er, vilken plattform
        ni arbetar på eller hur bra IT-kunskaper ni besitter. Er data förvaras i datacenter med högsta säkerhetsklass när
        det kommer till skalskydd och redundans samt skydd för digitala intrång. Med en svensk helpdesk löser vi företagets
        IT-relaterade frågor. Allt samlat på ett ställe, tryggt, tillgängligt och nåbart vart som helst – när som helst. </br>
        </br>

    </p>
   

    <div class="flip noselect">Mer</div>
    <div class="panel">

        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
            <li>Flexibelt och nåbart, oavsett plattform eller IT-kunskap</li>
            <li>Skalbart efter dina behov</li>
            <li>Säkert lagrat i svenska datacenter med högsta säkerhetsklass, med redundanta system och skalskydd</li>
            <li>Förutsägbar kostnad för dina IT-tjänster</li>
            <li>Fyra olika nivåer, anpassat efter dina behov</li>
            <li>Hårdvara i enterpriseklasser</li>
            <li>Tillval av optioner anpassade efter dina behov</li>
            <li>Med Remote Care tillsammans med DokoniFind* och SafeQ** kan Linford säkerställa att tjänsten efterlever de krav som ställs
                genom GDPR</li>
            <li>Helpdesk placerad i Sverige</li>
            <li>Tillgänglighetsgaranti efter dina behov</li>
        </ul>
            </br>

        <i><font size="2">*Den heltäckande indexeringslösningen DokoiFind hjälper användaren att få åtkomst till önskad information oavsett i vilket format eller dataförråd den lagras i.</br>
        **SafeQ erbjuder effektiv hantering av skrivarköer och stöd för utskriftspolicy samt tillgodoser krav på säker utskriftshantering.</font></i>


    </div>
</div>
{% endblock %}