{% extends "layout.njk" %}
{% set title = "Vi går den extra milen!" %}
{% set jumboText = "Så lyder vår pay-off på Linford, och det ska tas helt bokstavligt." %}
{% block content %}

<div class="parallax7"></div>

<div class="content1" id="content1">
    <h1 class="headtext">Vi går den extra milen!</h1>
    </br>
    <p class="bread">
        Hela vår organisation är fokuserad på vad kundens faktiska behov är, och vi arbetar varje dag med att förverkliga de idéer och visioner våra kunder har.
    </p>
        
         <ul type="circle" class="bread">
            <li>Transparanta och ärliga</li>
            <li>Kundfokus</li>
            <li>Innovativa</li>
            <li>Passionerade</li>
            <li>Inkluderande och samarbete</li>
            <li>Vi gör det med hjärtat</li>
        </ul>
            
    <p class="bread">
        Ovan värderingar är mycket mer än fina ord för oss. De är konkreta mål i allt vi gör, som vi varje dag, året om arbetar för att uppnå. </br>
        Som kund hos Linford bjuder vi in dig för att uppleva skillnaden på riktigt. </br>
        Denna sida ger dig ett första smakprov, på de tjänster som vi under många år, tätt tillsammans med våra kunder har finslipat. Vi hoppas att den kan inspirera dig att låta oss få lära känna dig närmare, förstå dina utmaningar och hur vi kan hjälpa dig med din verksamhet. Med en global organisation i ryggen kan du vara trygg i att du kan fokusera på allt annat än er tekniska infrastruktur. </br>
        Ni är i trygga händer hos oss.
    </p>

    <div class="flip">Mer</div>
    <div class="panel">

        <h3>ARBETA SMART OCH EFFEKTIVT</h3>
        <p class="bread">
            Den digitala tillvaron är här!</br>
            Aldrig förr har vi haft de möjligheter vi har nu, till att arbeta tillsammans, kreativt och flexibelt.</br>
            Den digitala revolutionen ger oss tillgång till sekundsnabba uppdateringar om projekt vi är delaktiga i, vi kan kollaborera i grupper utan geografiska begränsningar och vi kan arbeta på våra egna villkor när vi vill, vart vi vill. Möjligheterna är oändliga!</br>
            Det är här Linford kommer in. Sedan 2007 har vi hjälpt företag med sin digitala transformation, allt från det lilla företaget på hörnet till det stora multinationella bolaget. Med vår lokala närvaro och ett globalt nätverk kan vi ge din organisation rätt förutsättningar för de digitala möjligheterna.</br></br>
            Vi kallar det Frihet genom teknik.</br></br>
            Välkommen till Linford
        </p>
            </br>
    </div>
</div>
{% endblock %}