{% extends "layout.njk" %}
{% set title = "Slipp allt papperskrångel!" %}
{% set jumboText = "Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
posuere molestie." %}
{% block content %}

<div class="parallax3"></div>

<div class="content1" id="content1">

    <h1 class="headtext">Fakturahantering
        </h1>
            </br>

    <h2>Automatisera, digitalisera och effektivisera ditt fakturaflöde
        </h2>
            </br>

    <p class="bread">Få kontroll på dina fakturor vart du än är, öka sökbarheten över dina leverantörsfakturor och sänk företagets kostnader med upp till 80 % på manuella processer.
        </br></br>
        Att förenkla all hantering av dina leverantörsfakturor, kundfakturor, omkostnadsfakturor och e-fakturor såsom EDI och XML, gör din vardag enklare och tidseffektiv.
        Rätt information på rätt plats till rätt användare vid rätt tidpunkt. Du har åtkomst till dina fakturor när som helst på dygnet, vart som helst i världen. Allt är integrerat till ditt affärssystem och registreras automatiskt.
        25 procent av alla svenska fakturor betalas inte i tid. I vår tjänst ingår påminnelser och inkassokrav för att du ska slippa obekväma samtal med dina kunder.
        Allt sparas ner enligt lagkrav för att underlätta din bokföring, du ökar din likviditet och sparar både tid och pengar.

    </p>

    <div class="flip noselect">Mer
        </div>

    <div class="panel">
        <h3>PREPPA</h3>

        Fakturan skannas, skickas eller mailas direkt till en mailadress
        </br></br>

        Vi erbjuder en unik tjänst där vi kan hantera alla slags inkommande fakturor som idag hanteras manuellt. Vi tar hand om alla de vanligaste formaten vare sig de kommer in via post, mail eller annan elektronisk väg.
        Du väljer själv om du vill skanna exempelvis dina fakturor eller använda vår tjänst där vi post öppnar, sorterar och skannar dina fakturor åt dig.
        Med oss har du allt som behövs för att ta emot dina fakturor eller oavsett hur er leverantör vill skicka dem. Pappersfakturor, PDF fakturor eller e-fakturor såsom EDI och XML.
        </br></br>

        <h3>FIXA</h3>

        Avläsning, tolkning och verifiering av din faktura
        </br></br>

        Med en marknadsledande, kraftfull och självlärande tolkningsteknik läser vi in data från dina dokument, som till exempel för dina fakturor är leverantör, fakturanummer, fakturabelopp, momsbelopp, faktura- och förfallodatum, er referens, OCR nummer och ordernr alltid standard.
        Ditt dokumentflöde förenklas och behandlingstiden förkortas då du bland annat kan automatisera konteringen av leverantörsfakturorna innan de skickas vidare på attest.
        Men hög säkerhet och lång erfarenhet inom tolkningsteknik är vi en av Nordens främsta leverantörer av data och information.
        </br></br>

        <h3>DELA</h3>

        Säkra dina fakturor, spara ner och leverera som du vill
        </br></br>

        Vi erbjuder dig en komplett lösning för att ta hand om ert hela utgående dokumentflöde.
        Efter kontroll av din fakturainformation så kategoriseras och paketeras din data. Oavsett format och sätt skickas den vidare till valfritt system och arkiveras enligt lagkrav.
        Vi är en egen VAN* operatör vilket innebär att om du har en e-faktura operatör kan vi skicka och ta emot e-faktura från dem.
        </br></br>
        <font size="2"><i>*VAN står för Value Added Network och är en operatör av B2B-trafik. Operatörerna har samtrafikavtal mellan varandra vilket gör massanslutning smidig</i></font>

        </div>
</div>


</div>

<div class="parallax1"></div>

<div class="content2" id="content2">
    <h1 class="headtext">Tolkning</h1>
        </br>

    <h2>Ta emot vilken fil som helst och få ett gemensamt utseende
        </h2>
            </br>

    <p class="bread">
        Vi hjälper dig att automatisera, digitalisera och effektivisera ditt arbetsflöde. Alla data på alla slags dokument avläses med en marknadsledande, kraftfull och självlärande tolkningsteknik.
        Ta emot vilken fil som helst och få ett gemensamt utseende internt för att sedan skicka vidare på valfritt sätt med CrossState Any Document.
        Avläsning och kontroll av information sker automatiskt med hög kvalité och säkerhet och vid behov kan även en manuell kontroll utföras.
    </p>

    <div class="flip noselect">Mer</div>
    <div class="panel">
            <h3>Fakturatolkning</h3>
            <ul type="circle">
            <li>CrossState</li>
            </ul>

        <h3>Dokumenttolkning</h3>
            <ul type="circle">
            <li>Abbyy</li>
            <li>Elflow</li>
            </ul>

        <h3>Elektroniska dokument</h3>
            <ul type="circle">
            <li>LaserNet</li>
            </ul>
    </div>
</div>

</div>

<div class="parallax2"></div>

<div class="content3" id="content3">
    <h1 class="headtext">Mobil arbetsorder</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
</div>

<div class="parallax3"></div>

<div class="content4" id="content4">
    <h1 class="headtext">Tidrapport</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>

</div>

<div class="parallax4"></div>

<div class="content5" id="content5">
    <h1 class="headtext">Avtalshantering</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>

</div>

<div class="parallax2"></div>

<div class="content1" id="content6">
    <h1 class="headtext">Digital arkivering</h1>
    </br>

    <h2>Framtidssäkra dina dokument och fakturor
        </h2>
            </br>

    <p class="bread">Vi lagrar dina dokument och information automatiskt så du kan dela, ha åtkomst när som helst på dygnet och vart som helst i världen. Du bestämmer vem som kan se vad, hur och när.
    Att alltid ha kontroll på hela ditt informationsflöde minimerar risken för att dokument går förlorade om någon blir sjuk, slutar eller vid brand.
    Framtidssäkra dina dokument och fakturor på ett enkelt och säkert sätt i Sverige med CrossState.
    </p>

    <div class="flip noselect">Mer</div>
    <div class="panel">

    <!--<h3>DELA</h3>-->

    <b>Säkra dina dokument, spara ner för framtiden och lagkraven.</b>
    </br></br>

    Vi erbjuder dig en komplett lösning för att ta hand om all din information med automatisk arkivering.
    Efter kontroll av din fakturainformation så kategoriseras och paketeras din data. Oavsett format och sätt skickas den vidare till valfritt system och arkiveras enligt lagkrav.
    Vi är en egen VAN* operatör vilket innebär att om du har en e-faktura operatör kan vi skicka och ta emot e-faktura från dem.
    </br></br>
     <font size="2"><i>*VAN står för Value Added Network och är en operatör av B2B-trafik. Operatörerna har samtrafikavtal mellan varandra vilket gör massanslutning smidig</i></font>

</div>
</div>

</div>

<div class="parallax1"></div>

<div class="content2" id="content7">
    <h1 class="headtext">Tillbehör</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>

</div>

<div class="parallax2"></div>

<div class="content3" id="content8">
    <h1 class="headtext">CRM</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>

</div>

<div class="parallax3"></div>

<div class="content4" id="content9">
    <h1 class="headtext">Hårdvara</h1>
    </br>
    <p class="bread">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut quam ut sapien ornare ultricies. Proin gravida leo vitae
        sapien feugiat, quis tristique mi iaculis. Morbi vitae neque quis dui vehicula placerat. Nulla interdum quam eros,
        non efficitur erat sodales eu. Curabitur pharetra nunc sit amet sapien eleifend, non mattis mi tempus. Mauris ac
        pellentesque eros. Integer sit amet ligula sit amet nulla vestibulum condimentum. Quisque sodales pulvinar lacinia.
        Phasellus sagittis enim quis fringilla blandit. Pellentesque vestibulum gravida sem non sollicitudin. Nulla semper
        cursus risus, et volutpat massa ullamcorper non. Donec a mollis nisi, nec porttitor nibh. Duis efficitur vel ipsum
        in bibendum. Fusce et scelerisque dui, quis dignissim diam. In mollis elementum imperdiet. Cras non lobortis ex,
        quis mollis diam. Nunc ultrices tortor sed sapien mollis, nec pulvinar ex ullamcorper. Cras facilisis feugiat ipsum
        posuere molestie.</p>

    <div class="flip noselect">Mer</div>
    <div class="panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>


</div>
{% endblock %}