{% extends "layout.njk" %}
{% set title = "Effektivisera ditt företag redan idag!" %}
{% set jumboText = "Här ska text placeras." %}
{% block content %}

<div class="parallax5"></div>

<div class="content1" id="content1">
    <h1 class="headtext">Remote Care Workplace</h1>
    </br>

    <h2>Frihetskänsla genom teknik</h2>
    </br>

    <p class="bread">
        Att kunna arbeta flexibelt, vart som helst, genom att alltid komma åt företagets alla filer, applikationer och dokument är
        ett arbetssätt som fler företag och organisationer strävar emot. (Tre auto-slides på första sidan: Att kunna arbeta
        flexibelt, vart som helst, att alltid komma åt företagets alla filer) Med Remote Care Workplace kan vi, genom ett
        fjärrskrivbord, förse din organisation med en helt skalbar tjänst oberoende av vart ni befinner er, vilken plattform
        ni arbetar på eller hur bra IT-kunskaper ni besitter. Er data förvaras i datacenter med högsta säkerhetsklass när
        det kommer till skalskydd och redundans samt skydd för digitala intrång. Med en svensk helpdesk löser vi företagets
        IT-relaterade frågor. Allt samlat på ett ställe, tryggt, tillgängligt och nåbart vart som helst – när som helst. </br>
        </br>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Remote Care Workplace</th>
                <th scope="col">Premium</th>
                <th scope="col">Standard</th>
                <th scope="col">Basic</th>
                <th scope="col">Light</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Remote Care Server</th>
                <td>&#9745;</td>
                <td>&#9745;</td>
                <td>&#9745;</td>
                <td>&#9745;</td>
            </tr>
            <tr>
                <th scope="row">Remote Care Back-Up</th>
                <td>&#9745;</td>
                <td>&#9745;</td>
                <td>&#9745;</td>
            </tr>
            <tr>
                <th scope="row">Remote Care Antivirus</th>
                <td>&#9745;</td>
                <td>&#9745;</td>
                <td>&#9745;</td>
            </tr>
            <tr>
                <th scope="row">Remote Care Helpdesk</th>
                <td>&#9745;</td>
                <td>&#9745;</td>
            </tr>
            <tr>
                <th scope="row">Remote Care Workstation</th>
                <td>&#9745;</td>
            </tr>
        </tbody>
    </table>

    <div class="flip">Mer</div>
    <div class="panel">

        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
            <li>Flexibelt och nåbart, oavsett plattform eller IT-kunskap</li>
            <li>Skalbart efter dina behov</li>
            <li>Säkert lagrat i svenska datacenter med högsta säkerhetsklass, med redundanta system och skalskydd</li>
            <li>Förutsägbar kostnad för dina IT-tjänster</li>
            <li>Fyra olika nivåer, anpassat efter dina behov</li>
            <li>Hårdvara i enterpriseklasser</li>
            <li>Tillval av optioner anpassade efter dina behov</li>
            <li>Med Remote Care tillsammans med DokoniFind* och SafeQ** kan Linford säkerställa att tjänsten efterlever de krav som ställs
                genom GDPR</li>
            <li>Helpdesk placerad i Sverige</li>
            <li>Tillgänglighetsgaranti efter dina behov</li>
        </ul>
            </br>

        <i><font size="2">*Den heltäckande indexeringslösningen DokoiFind hjälper användaren att få åtkomst till önskad information oavsett i vilket format eller dataförråd den lagras i.</br>
        **SafeQ erbjuder effektiv hantering av skrivarköer och stöd för utskriftspolicy samt tillgodoser krav på säker utskriftshantering.</font></i>


    </div>
</div>
</div>

<div class="parallax3" id="content2"></div>

<div class="content1">
    <h1 class="headtext">Server</h1>
    </br>

    <h2>Full kontroll över din server, oavsett var den finns</h2>
    </br>

    <p class="bread">
        För att dina verksamhetsapplikationer ska opereras effektivt, behöver kritiska komponenter så som server, arbetssituationer,
        nätverk och internetaccess fungera utan avbrott. I händelse av driftstörningar behöver dessa åtgärdas omedelbart
        för att undvika allvarliga avbrott som påverkar din verksamhet. För att kunna agera snabbt och korrekt behöver man
        omedelbar information om vad som orsakat driftstörningen och hur man ska åtgärda den. Remote Care Server från Linford
        levererar exakt detta, vilket garanterar att problem kan åtgärdas snabbt och ge trygghet till organisationen att
        alla system alltid är övervakade – oavsett var de finns lagrade. </br>
        </br>
    </p>

    <div class="flip">Mer</div>
    <div class="panel">

        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
            <li>Låg fast kostnad, full kontroll på dina kostnader.</li>
            <li>Schemalagda kontroller av nyckelfunktioner på din server.</li>
            <li>Med Remote Care Server övervakas din server av automatiska system som skickar larm till IT-tekniker hos Linford vid eventuella
        driftstörningar.</li>
            <li>Omedelbar respons från tekniker vid konstaterat larm.</li>
            <li>Snabb och smidig fjärrstyrning av våra IT-tekniker.</li>
            <li>Rapporter på åtgärder vid eventuella driftstörningar.</li>
            <li>Alltid patchad och säker server.</li>
            <li>Månadsvis rapportering på säkerhetstrender och status på din eller dina servrar.</li>
            <li>Option att addera Remote Care Workstation för full support och samma höga säkerhet för dina klienter.</li>
        </ul>
            </br>
    </div>
</div>
</div>

<div class="parallax1"></div>

<div class="content2" id="content3">
    <h1 class="headtext">Back-Up</h1>
    </br>

    <h2>Säkerställ att din historia är aktuell</h2>
    </br>

    <p class="bread">

        Att säkerställa att verksamhetskritiska data kan återskapas i händelse av en oförutsedd katastrof är en av de viktigaste
        uppgifterna för en IT-ansvarig medarbetare. Men alla katastrofer är inte nödvändigtvis resultatet av en oförutsedd
        händelse eller avsiktlig skada. De kan ofta vara resultatet av oavsiktlig förlust eller radering av en viktig fil
        eller ett enkelt mänskligt misstag. Oavsett kan effekten på företaget vara katastrofal. Linfords Remote Care Back-Up
        kan hjälpa er organisation att skydda affärskritiska data genom att minimera risken för dataförlust och hjälpa er
        maximera verksamhetens kontinuitet – oavsett orsak eller omfattning. </br>
        </br>

    </p>

    <div class="flip">Mer</div>
    <div class="panel">

        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
            <li>Komplett för back-up med låg fast avgift.</li>
            <li>Användning av ultrasäker 128-bit avancerad krypteringsstandard (AES).</li>
            <li>Möjlighet till kryptering med 256-bit AES (militär klass) eller 448-bit Blowfish kryptering som tillval.</li>
            <li>Definierbara tillval för datacenter (Europa, Asien, Stillahavsregionen, Nordamerika) som följer certifieringarna ISO27002
                och ISO/IEC 27001:2005
                </br> och datasäkerhetsstandard (DDS) för betalkortsbranschen (PCI).</li>
            <li>Snabb, tillförlitlig och flexibel åtkomst till data vid behov, med >99.9999% tillgänglighet till datacenter.</li>
            <li>Baseras på robust programvara, som IASO Hybrid Cloud Back-Up eller motsvarande molnbaserad programlösning.</li>
            <li>Fullständigt flexibel tidsplanering för back-up som konfigureras av Linford efter den enskilda kundens behov.</li>
        </ul>
            </br>
    </div>
</div>
</div>

<div class="parallax2"></div>

<div class="content3" id="content4">
    <h1 class="headtext">Antivirus</h1>
    </br>


    <h2>Skydda dina affärskritiska system</h2>
    </br>
    <p class="bread">
        Att säkerställa att verksamhetskritiska data och system skyddas mot hot från virus, spionprogram, trojaner, keyloggers och
        annan skadlig programvara är en av de viktigaste uppgifterna för en IT-ansvarig. Linfords funktionstjänst Remote
        Care Antivirus kan hjälpa Er organisation att skydda verksamhetskritiska system och data, minimera hotet från skadliga
        cyberattacker, eliminera riskerna som en dåligt hanterad antivirusprocess medför och hjälpa er maximera verksamhetens
        kontinuitet - oavsett hot. </br>
        </br>
    </p>

    <div class="flip">Mer</div>
    <div class="panel">

        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
            <li>Komplett funktionstjänst för antivirus till en låg fast kostnad</li>
            <li>Användning av den certifierade programvaran ICSA* och VB (Virus Bulletin) 100**</li>
            <li>Distribution, konfiguration, övervakning och rapporter om tjänsten med hjälp av Linfords RMS-metod (Remote Monotering Service)</li>
            <li>Lättkonfigurerbar lösning som kräver liten eller ingen insatts från kundens sid, tjänsten administreras helt av Linford</li>
            <li>Lösningen kan aktiveras på alla servrar och arbetssituationer eller bara på vissa, på ett helt företag eller koncern</li>
            <li>Kan konfigureras efter specifika kundbehov, inklusive tidsplaner för genomsökning, åtgärder (vad Linford förväntas göra
                om hot upptäcks) och definierade fil- och mappundantag</li>
            <li>Varnar när ett hot placeras i karantän och informerar om hotets aktuella status</li>
            <li>Genererar regelbundna rapporter med sammanfattningar av tjänstens aktivitet, antal identifierade hot och åtgärder som har
                vidtagits av Linford</li>
        </ul>
            </br>

        <i><font size="2">*ICSA Labs, som grundades 1989, är en oberoende underavdelning till Verizon som genomför tillförlitliga, oberoende tester för tredjepartsprodukter för slutanvändare och företag.</br>
        **Virus Bulletin, genomför oberoende jämförande tester av lösningar mot skadlig programvara. Produkter som lyckas upptäcka 100% av alla virus i skarp miljö, utan falskt larm, tilldelas VB100-priset.</font></i>


    </div>

</div>
</div>

<div class="parallax3"></div>

<div class="content4" id="content5">
    <h1 class="headtext">Helpdesk</h1>
    </br>

    <h2>Experter till din tjänst</h2>
    </br>
    <p class="bread">
        Grundtanken med vår tjänstekatalog är att du som kund hos oss ska arbeta med det du är bra på, inte fokusera på om dina IT-system
        är uppdaterade, om servern är korrekt patchad eller om tjänsten back-up fungerar som den ska. Hos oss på Linford
        behöver du inte oroa dig för det, men ibland kan det vara skönt att prata med en expert som förstår dig. Med vår
        tjänst Remote Care Helpdesk kan du känna dig helt trygg i att alltid få prata med någon som känner till dina system,
        som arbetar med en satt metodik och som förstår dina behov. Vår helpdesk är placerad i Sverige och sitter nära våra
        utvecklare, allt för att garantera att du får den hjälp du behöver – när du behöver den.</br>
        </br>
    </p>

    <div class="flip">Mer</div>
    <div class="panel">
        <h3>Nyckelfunktioner</h3>
        
        <ul type="circle">
        <li>Helpdesk håller öppet 07.00-17.00 helgfria vardagar.</li>
        <li>Helpdesk äger alla ärenden från validering till att ärendet avslutas och arbetar efter ITIL* med händelsehantering (Incident
        Management), 
            </br>problemadministration (Problem Management) och administration gällande ärendehantering (Change Management).</li>
        <li>Helpdesk kan nås via telefon, mail och webben. I det fall Helpdesk inte kan lösa ärenden av 1st line supportkaraktär förs
        det över till 2nd line. 
            </br>Beroende på ärendets karaktär agerar Helpdesk enligt förutbestämda rutiner.</li>
        <li>Helpdesks medarbetare, driftpersonal, konsulter och jourverksamhet arbetar i samma system.</li>
        <li>Samtliga ärenden registreras avseende tid, personnamn, avdelning/kontor, kategori, ärendebeskrivning, handläggare och lösning.
            </br>En ärendebekräftelse skickas till anmälaren.</li>
        <li>Kundens utpekade kontaktpersoner kan löpande via ett webbaserat ärendehanteringssystem registrera, följa upp, sätta prioritet
        och komplettera ärendet.</li>
        <li>Felsökning av incidenter av kritisk karaktär ska påbörjas omedelbart under kontorstid.</li>
        </ul>
            </br>

        <i><font size="2">*ITIL är en metodik för styrning för hantering av IT-tjänster i företag och organisationer.</font></i>


    </div>
</div>
</div>


<div class="parallax4" id="content6"></div>

<div class="content5">
    <h1 class="headtext">Workstation</h1>
    </br>

    <h2>Ta full kontroll över din arbetssituation</h2>
    </br>
    <p class="bread">
        En arbetssituation, en dator, är fylld med fantastiska applikationer och kraftfulla verktyg som gör din arbetsdag lättare.
        Ofta är det tyvärr lika många olika leverantörer inblandade som du har applikationer. Detta kan göra det svårt för
        dig att veta vem du ska kontakta när du behöver hjälp. Med Linfords Remote Care Workstation behöver du bara en kontakt,
        vi löser resten. Våra experter arbetar efter satta rutiner och kan hjälpa dig oavsett vilken typ av problem du råkat
        ur för genom att få tillgång till din dator. Säkert, snabbt och krypterat. Så låt inte problem med en applikation
        stå i vägen för en bättre arbetsdag.</br>
        </br>
    </p>

    <div class="flip">Mer</div>
    <div class="panel">
        <h3>Nyckelfunktioner</h3>
        <ul type="circle">
        <li>Remote Care Workstations helpdesk håller öppet 07.00-17.00 helgfria vardagar.</li>
        <li>Remote Care Workstations helpdesk äger alla ärenden från validering till att ärendet avslutas och arbetar efter ITIL* med händelsehantering (Incident Management),
            </br> problemadministration (Problem Management) och administration gällande ärendehantering (Change Management).</li>
        <li>Helpdesk kan nås via telefon, mail och webben. I det fall Helpdesk inte kan lösa ärenden av 1st line supportkaraktär förs det över till 2nd line.
            </br> Beroende på ärendets karaktär agerar Helpdesk enligt förutbestämda rutiner.</li>
        <li>Medarbetare, driftpersonal, konsulter och jourverksamhet arbetar i samma system.</li>
        <li>Samtliga ärenden registreras avseende tid, personnamn, avdelning/kontor, kategori, ärendebeskrivning, handläggare och lösning. 
            </br>En ärendebekräftelse skickas till anmälaren.</li>
        <li>Kundens utpekade kontaktpersoner kan löpande via ett webbaserat ärendehanteringssystem registrera, följa upp, sätta prioritet och komplettera ärendet.</li>
        <li>Felsökning av incidenter av kritisk karaktär ska påbörjas omedelbart under kontorstid</li>
        </ul>
            </br>

        <i><font size="2">*ITIL är en metodik för styrning för hantering av IT-tjänster i företag och organisationer.</font></i>
    </div>
</div>
</div>
{% endblock %}