/*GLOBAL*/

head, body {
	margin: 0;
	padding: 0;
}

.jumbotron {
    margin-top: 50px;
    background-color: #f7f7f7;
}

.container-jumbo{
        width: 80%;
        margin: auto;
}

.navbarlogo {
    height: 30px;
    width: auto;
}

.mobile-nav {
    display: none;
}

.footer-text{
    font-size: 0.8em;
}

.desktop-dropdown{
	background-color: #FFFFFF;
    height: 50px;
    padding: 30px;
}
.sm-logo{
    display: inline;
    height: 20px;
    width: auto;
}

.nav-ig-logo{
    list-style: none;
    position: fixed;
    right: 0;
    padding: 15px;
}

.nav-fb-logo{
    list-style: none;
    position: fixed;
    right: 25px;
    padding: 15px;
}

.nav-ln-logo{
    list-style: none;
    position: fixed;
    right: 50px;
    padding: 15px;
}


li.dropdown:hover > .dropdown-menu {
	display: inline;
	border-top: none;
	border-radius: 0;
	margin-top: 10px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
 
.dropdown:hover .dropdown-menu {
    max-height: 600px;
    opacity: 1;
}

#link1,#link2, #link4 {     
	display: inline-block;     
	position: relative;    
	padding-bottom: 1em;     
    margin-bottom: -2em; 

}

#link1, #link2, #link3, #link4, #link5{
    padding-right: 30px;
}

.nav-item {
	margin-top: -5px;
    margin-bottom: -5px;
}
 
#scroll {
    position:fixed;
    right:10px;
    bottom:70px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #ed1c24;
    text-indent:-9999px;
    display:none;
    z-index: 999;
 
}

.btn-danger{
    background-color: #ed1c24;
}
.mailimg {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    text-indent:-9999px;
    z-index: 999;
}

.contact-form {
    background-color: white;
    position:fixed;
    right:70px;
    bottom:70px;
    cursor:pointer;
    width:350px;
    height:250px;
    display:none;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}

#form_message{
    width: 100%;
    height: 100px;
    resize: none;
}
.form {
    padding: 15px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color: #5a5a5b;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.bread {
    font-size: 1em;
    font-family: calibri;
}
 
.headtext {
    font-size: 2em;
    font-family: calibri;
    text-align: center;
}

h2 {
    font-family: calibri;
    font-size: 50px;
    text-align: center;
}
 
h3 {
    font-family: calibri;
    font-size: 18px;
    font-weight: bold;
}
 
/* CSS för visa mer-knappen */
.panel, .flip {
    padding: 5px;
    background-color: #f7f7f7;
}
 
.panel {
    padding: 50px;
    display: none;
}
 
.flip {
    font-weight: bold;
    text-align: center;
}

/* END OF GLOBAL */

/* STARTPAGE */

.slider {
	width: 100%;
	margin: auto;
    margin-top: 50px;
	padding-bottom: 15px;
}

.slick-prev, .slick-next {
    z-index: 999;
}

.slick-arrow{
    width: 150px;
    height: 150px;
}

.slideroverlay{
    position: absolute;
    z-index: 999;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.startgridcontainer {
    position: relative;
	margin: auto;
}

.img-responsive{
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
}
.relative{
    position: relative;
}
.startgridimg {
   width: 100%;
   position: relaitve;
   padding: 0;
}

.startgridimg img {
	padding: 15px;
}

.startgridoverlay {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    opacity: 0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.startgridimg:hover .startgridoverlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.startgridtext {
    margin-top: 10%;
    color: white;

}

.startgridoverlay p {
    color: white;
    left: 0;
    margin: auto;
    width: 80%;
     font-size: 1em;
}

.slideroverlay{
    position: absolute;
    z-index: 999;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}

/*END OF STARTPAGE*/

/* KONTAKT */
 
.content {
    width: 80%;
    margin: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.iframe-karta{
    height: 25em;
    width: 100%;
    border-style: none;
}
 
 
/* END OF KONTAKT  */

/* SUPPORT */

/* Parallaxer på support */
.parallax1 {
    /* The image used */
    background-image: url("../assets/1.jpg");
 
    /* Set a specific height */
    height: 500px;
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
 
.parallax2 {
    /* The image used */
    background-image: url("../assets/2.jpg");
 
    /* Set a specific height */
    height: 500px;
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.parallax3 {
    /* The image used */
    background-image: url("../assets/3.jpg");
 
    /* Set a specific height */
    height: 500px;
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
 
.parallax4 {
    /* The image used */
    background-image: url("../assets/4.jpg");
 
    /* Set a specific height */
    height: 500px;
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Innehåll mellan parallaxerna på support GLOBAL */
.content1, .content2, .content3, .content4, .content5 {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* END OF SUPPORT */

/* FOOTER */

.footerlinks a:link {
    text-decoration: none;
    color: black;
}

.footerlinks a:hover {
    text-decoration: underline;
}

/* END OF FOOTER */

@media only screen and (max-width: 768px) {
 
    
    .navbar-toggler-icon {
        z-index: 999;
        background-image: url(../assets/hamburger.svg);
    }
 
    .desktop-nav {
        display: none;
    }
 
    .mobile-nav {
        display: block;
    }
 
    .collapse, .navbar-collapse {
        background-color: black;
        opacity: 0.8;
        margin-top: 15px;
    }
 
    .navbar {
        padding: 0px;
        background-color: white;
    }
 
    .dropdown-menu {
        margin: 0;
        padding: 0;
    }
 
    .mobile-nav a {
        color: white;
    }
 
    .nav li {
        margin: 5px 5px 5px 25px;
    }

    .startgridoverlay {
        opacity: 1;
    }

    .content1, .content2, .content3, .content4, .content5{
        width: 90%;
    }

   
    .container-jumbo{
        width: 90%;
        margin: auto;
    }


}




