<div class="contact-form">
	<div class="form">
        <form id="contact-form" method="post" action="mail_handler.php" name ="form">
            <div class="controls">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="form_email" type="email" name="email" class="form-control" required="required" placeholder="Email-adress" data-error="Ange en giltig email.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea id="form_message" name="msg" class="form-control" placeholder="Vad kan vi hjälpa dig med?" required="required" data-error="Skriv ett meddelande"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" name="submit" class="btn btn-danger" value="Skicka meddelande">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>	