<footer class="container-fluid">
  <div class="row">	
	    <div class="col-sm-4 text-center">
	        <h4>Kontakt</h4>
	            <p>Linford Communication AB</br>
	                Linford Vending AB</br>
	                Radiatorvägen 15</br>
	                SE - 702 27 Örebro</br>
	                Sweden
	            </p>
	    </div>
	    <div class ="col-sm-4 text-center">
	        <h4>Öppettider</h4>
	        <p>mon-fri: 08.00–17.00</br>
	            lunch: 12.00-13.00</br>
	            sat: closed</br>
	            sun: closed</p>
	    <br>
	    </div>
	    <div class ="footerlinks col-sm-4 text-center">
	        <h4>Sociala medier</h4>
	        <a href="https://www.facebook.com/linfordab" target="_blank">Facebook</a></br>
	        <a href="https://www.instagram.com/linfordab/" target="_blank">Instagram</a></br>
	        <a href="https://www.linkedin.com/company/linford-communication-ab/" target="_blank">LinkedIn</a>
	    </div>
	</div>
	<p class="text-center footer-text">Skapad av Team Linford.</p>
</footer>